.flex-container {
    display: flex;
    background-color: rgb(9, 231, 46);
  }
  .flex-container > div {
    background-color: #ec1818;
    width: 80px;
    margin: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
  }